

    .box-1{
        background-color: rgb(232, 144, 247);
        width: 25%;
        height: 700px;
        border: 1px solid black;
        margin: 25px;
        
    }

   .box-2 { 
    background-color: pink;
    width: 70%;
    height: 322px;
    border: 1px solid black ;
    float: right;
    margin-top: 25px;
    margin-right: 25px;

}

.box-3 {
    background-color: rgb(136, 185, 245);
    width: 70%;
    height: 320px;
    border: 1px solid black ;
    float: right;
    margin-bottom: 25px;
    margin-right: 25px;
}